.addapt-outer
{
	background-color: #000;
}
.addapt-legacy-outer
{
	position: relative;
	background-color: transparent;
}
.addapt-legacy-left
{
	background-image: url('../Images/addapt-left.png');
	background-repeat: no-repeat;
	float:left;
}
.addapt-legacy-right
{
	background-image: url('../Images/addapt-right.png');
	background-repeat: no-repeat;
	float:left;
}
.addapt-legacy-middle
{
	background-image: url('../Images/addapt-middle.png');
	background-repeat: repeat-x;
	float:left;
}
.addapt-legacy-selected-item
{
	position: relative;
	background-color: #ccc;
	display: block;
}
.addapt-legacy-arrow
{
	position: absolute;
	background-image: url('../Images/arrow.png');
	background-color: transparent;
	cursor: pointer;
}
.addapt-legacy-dropdown-selection
{
	max-height: 300px;
	list-style: none;
	padding: 0px;
	margin: 0px;
	position: absolute;
}
